@import 'common';

// injector
// endinjector

html {
    body {
        
        a {
            &.cursor-pointer {
                cursor: pointer;
            }
            &.text-white {
                color: #ffffff;
            }
        }
        .panel {
            &.panel-pp {
                .panel-body {
                    height: 400px;
                    overflow: hidden;
                    
                    &:hover {
                        overflow: auto;
                    }
                    
                    .channels-block {
                        margin-top: 30px;
                    }
                    
                    .channels-info {
                        display: inherit;
                        width: auto;
                        margin-left: 70px;
                    }
                    
                    .bxrp {
                        cursor: pointer;
                    }
                }
            }
            &.panel-op {
                .panel-body {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    counter-reset: widthOP;
                    
                    &:hover {
                        overflow-x: auto;
                    }
                    
                    .pie-charts {
                        max-height: 114px;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        width: auto;
                        min-width: 300px;
                        display: inline-flex;
                        
                        .pie-chart-item-container {
                            width: 250px;
                            counter-increment: widthOP;
                        }
                        
                        .description {
                            font-size: 13px;
                            width: 60%;
                        }
                        
                        .percent {
                            &:after {
                                content: 'days';
                                font-size: 9px;
                                vertical-align: baseline;
                            }
                        }
                    }

                }
            }
            
            .panel-action-box {
                position: relative;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                margin-right: -22px;
                margin-left: -22px;
                box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
            }
            
        }
        
        .label {
            border-radius: 100px;
        }
        
        .comment-list {
            .comment-area {
                padding: 10px;
                background: rgba(0, 0, 0, 0.2196078431372549);
                border-radius: 5px;
                margin: 5px 0;
                position: relative;
                
                .cdate {
                    font-size: 8px;
                    font-style: italic;
                    position: absolute;
                    top: 5px;
                    right: 12px;
                }
                
                .comment-area-attr {
                    text-align: right;
                    font-size: 11px;
                    
                    
                    .label {
                        font-size: 80%;
                        /*vertical-align: top;*/
                    }
                }
            }
        }
        
        .cd-timeline-content .cd-date {
            float: none;
        }
        
    }
}